.header-chatroom{
    display: inline;
};
.button-exit{
    color: brown;
    
}
div.room li
{
    position: relative;
    list-style: none;
    float: left;
    width: 15%;
    text-align: center;
}
div.room li img{
    border-radius: 100%;
    border:3px solid rgba(255,255,255);
    width: 50px;
    height: 50px;
}
div.room li:nth-child(2n+1) img,div.room li:nth-child(2n+1) img span.name
{
    opacity: 0.7;
}
div.room li:nth-child(2n+2) img,div.room li:nth-child(2n+2) img span.name
{
    opacity: 0.4;
}
div.room li img:active
{
    opacity: 1;
    box-shadow: 1px 1px 0 rgba(39,28,93,0.5),
                -1px -1px 0 rgba(39,28,93,0.5),
                0 0 35px rgba(255,255,255,0.3);            
}
div.room li span.name:active
{
    opacity: 1;
}
div.room li span.name
{
    position: relative;
     width: 100%;
     left:0;
     text-transform: uppercase;
     font-size: 14px;
     font-weight:600;
     letter-spacing: 0.5px;
     color: rgba(255,255,255,0.9);
}
div.room li span.name span.status
{
    display: block;
    text-transform: none;
    font-weight: 300;
    font-size: 10px;
    color:
}


