.container{
  width:430px;
  height:900px;
  margin: 0px auto;
  margin-left: 960px;
  display: inline-block;
}
div.app {
  position: relative;
  width: 400px;
  height:670px;
  background: #5850c0;
  margin-top: 30px;
}
div.app:before{
  content: '';
  position: absolute;
  left:0;
  width:100%;
  height: 100px;
  display: inlin-block;
  box-shadow: inset 0  80px 85px -35px #3c33b0;
  z-index: 0;
}
div.app:after
{
  content:'';
  position: absolute;
  left:0;
  width:100%;
  height: 100px;
  display: inline-bloxk;
  bottom:0;
  box-shadow:  inset 0 -80px 85px -35px #3c33b0;
  z-index: 0;
}
div.app div.head{
  z-index:1;
  position: relative;
  display:block;
  width: 100%;
  height: 50px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255,255, 255,0.7);
  background: #271c5d;
  border-bottom: 1px soild rgba(255,255, 255,0.35);
  box-shadow: inset 0 -15px 35px -5px rgba(0,0,0,0.3);
}
div.head span.title
{
  position:absolute;
  width: 100%;
  display: inline-block;
  left: 0;
  font-size: 16px;
  font-weight:500;
  margin-top: 2px;
  color: #fff;
}
div.head span.messages-notification
{
position: relative;
float: left;
font-size:18px;
font-weight: normal;
margin-left: 15px;
color:#fff;
margin-top:2px;
}
div.head span.messages-notification span.count{
  position:absolute;
  font-size: 10px;
  width: 17px;
  height: 17px;
  display: inline-block;
  background-color: #f42052;
  line-height: 17px;
  border-radius:100%;
  margin-top:-40px  
}
div.head span.create-new
{
  float: right;
  font-size:17px;
  font-weight: normal;
  margin-right:15px;
  color:#fff;
  margin-top:2px;
}
.clearfix::after{
  content:'';
  clear:both;
  display:table;
}
div.search-bar
{
  position: relative;
  margin-top:15px;
  text-align:center;
  z-index:1;
}
div.search-bar .ip-search
{
  width: 85%;
  border:none;
  font-size:16px;
  padding:10px 15px;
  color: rgba(255,255,255,0.7);
  background: rgba(255,255,255,0.25);
  border-radius: 50px;
  border: 1px solid rgba(60,51,176,0.7);
  box-shadow: inset 0 25px 25px -15px rgba(60,51,176,015);
}
div.search-bar .ip.search::placeholder
{
  color: rgba(255,255,255,0.8);
  letter-spacing: 1px;
  font-size: 14px;
}
div.search-bar i.fa 
{
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-top: 14px;
  color: rgba(255,255,255,0.8);
  font-size:12px;
}