button, input{
    margin:10px 10px;
};
#message-container,#getMessages, #user-infomation-container,#chatroom {
    margin:10px 10px;
};
ul {
    list-style-type: none;
} 
.list-info {
    list-style-type: none;
    display: inline;
};
.list-info.li{
    padding: 10px;
}
p{
    margin-left: 10px;
}
.form-login{
    margin:20px 0px;
    text-align: center;
}
.img-responsive{
    margin: 20px 20px;
}
